.wrapper {
    width: 320px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    // .follow-btn {
    //     margin: 6px 16px;
    // }
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}

.body {
    margin-top: 12px;
    color: #161823;

}

.nickname {
    font-size: 1.8rem;

}

.check-box {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}

.full-name{
    font-size: 1.4rem;
}

.analysis {
    margin-top: 10px;
    font-size: 1.8rem;
}

.value ~ .value {
    margin-left: 20px;
}

.value {

}

.label {
    color: #161823bf;
}