.wrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	font-size: 1.6rem;
	font-weight: 700;
	font-family: var(--font-family);
	min-width: 100px;
	padding: 9px 16px;
	border-radius: 4px;
	border: 1px solid transparent;

	cursor: pointer;
	user-select: none;

	+.wrapper {
		margin-left: 8px;
	}

	&.disable {
		pointer-events: none;
		opacity: 0.5;
	}

	.icon+.title,
	.title+.icon {
		margin-left: 8px;
	}
}

.icon {
	display: inline-block;
	width: 24px;
	text-align: center;
}

//Button types:
.rounded {
	border-radius: 999px;
	border-color: rgba(22, 24, 35, 0.06);
	box-shadow: 0 2px 8px rgb(0 0 0 / 6%);

	&:hover {
		border-color: rgba(22, 24, 35, 0.2);
		background-color: rgba(22, 24, 35, 0.03);
	}
}

.primary {
	border-color: var(--primary);
	background-color: var(--primary);

	span {
		color: var(--white);
	}

	&:hover {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),
			#fe2c55;
	}
}

.outline {
	border-color: var(--primary);

	span {
		color: var(--primary);
	}

	&:hover {
		border-color: var(--primary);
		background-color: rgba(254, 44, 85, 0.06);
	}
}

//Size:
.small {
	min-width: 88px;
	padding: 4px 16px;
}

.large {
	min-width: 148px;
	padding: 14px 16px;
}

.text {
	&:hover {
		text-decoration: underline;
	}
}

//nếu có bất kì thay đổi nào thì sử dụng class-custom, thêm class cho nó để css
.custom-login {
	span {
		color: var(--primary);
	}
}