@import "normalize.css";
//@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    --primary: #fe2c55;
    --white: #fff;

    --font-family : "TikTokFont", sans-serif;

    //Default Layout :
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;

    --text-color: #333;

    --black: #333;
}

html {
    font-size: 62.5%;
}

//Font Tiktok
@font-face {//sofia -> 400
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFont;
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}


body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

//custom tippy
body {
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92) !important;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-content {
        padding: 8px 9px;
    }

    .tippy-box[data-placement^="bottom"]>.tippy-arrow:before {
        top: -8px;
    }
}

button,
input {
//[tabindex] {
    border: none;
    outline: none;
    background-color: transparent;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}