//Account-Item :
.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info-detail {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    margin-top: 0;
    font-size: 1.6rem;
    color: #161823;
    line-height: 1;
}

.check-box {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}

.full-name {
    font-size:  1.2rem;
    opacity: #161823bf;
}