//Menu items : 
.menu-list{
    width: 224px;
}

.menu-popper {
    padding-bottom: 8px;
}

.menu-language-body {
    overflow-y: auto;
}

.menu-item {
    width: 100%;
    justify-content: flex-start;
    margin-left: 0 !important;
    border-radius: 0;
    padding: 11px 16px;
    line-height: 1.8rem;
    font-weight: 600;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03) !important;
    }
}