.wrapper {
    border-top: 1px solid #e3e3e4;

}

.header-label {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px;
}

.more-options {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fe2c55;
    cursor: pointer;
}